In [2]:
import pandas as pd

In [3]:
## Create DataFrames from lists
olympic_data_list = {'HostCity': ['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'], 
                     'Year': [2012, 2008, 2004, 2000, 1996], 
                     'No. of Participating Countries': [205, 204, 201, 200, 197]
                    }

df_olympic_data = pd.DataFrame(olympic_data_list)
df_olympic_data

  HostCity  Year  No. of Participating Countries
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197

In [4]:
## Create DataFrames from dictionaries
olympic_data_dict = {'London': {2012:205}, 'Beijing': {2008:204}}
df_olympic_data_dict = pd.DataFrame(olympic_data_dict)
df_olympic_data_dict

      London  Beijing
2012   205.0      NaN
2008     NaN    204.0

In [5]:
## View DataFrames
# by column
df_olympic_data.HostCity

0     London
1    Beijing
2     Athens
3     Sydney
4    Atlanta
Name: HostCity, dtype: object

In [6]:
# with describe function
df_olympic_data.describe

<bound method NDFrame.describe of   HostCity  Year  No. of Participating Countries
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197>

In [7]:
## Create DataFrames from dictionary of series
olympic_series_participation = pd.Series([205, 204, 201, 200, 197], index=[2012, 2008, 2004, 2000, 1996])
olympic_series_country = pd.Series(['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'], index=[2012, 2008, 2004, 2000, 1996])

df_olympic_series = pd.DataFrame({'No. of Participating Countries': olympic_series_participation, 'Host Cities': olympic_series_country})
df_olympic_series

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta

In [12]:
## Create DataFrames from array
import numpy as np

In [13]:
np_array = np.array([2012, 2008, 2004, 2000, 1996])  # create array and then pass it into the dictionary
dict_ndarray = {'year': np_array}

In [14]:
df_ndarray = pd.DataFrame(dict_ndarray)  # pass the dictionary into the DataFrame method
df_ndarray

   year
0  2012
1  2008
2  2004
3  2000
4  1996

In [15]:
## Create DataFrames from DataFrame
df_from_df = pd.DataFrame(df_olympic_series)
df_from_df

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta