In [1]:
import pandas as pd
import numpy as np

In [2]:
# Pass list as argument for series
first_series = pd.Series(list('abcdef'))
print(first_series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [3]:
# Pass ndarray as argument for series
np_country = np.array(['Luxembourg', 'Norway', 'Japan', 'Switzerland', 'United States', 'Qatar', 'Iceland', 'Sweden', 'Singapore', 'Denmark'])

In [4]:
s_country = pd.Series(np_country)
print(s_country)

0       Luxembourg
1           Norway
2            Japan
3      Switzerland
4    United States
5            Qatar
6          Iceland
7           Sweden
8        Singapore
9          Denmark
dtype: object

In [5]:
# Pass dict as argument for series
dict_country_gdp_trillion = pd.Series([20.89, 14.72, 5.06, 3.85, 2.67, 2.66, 2.63, 1.89, 1.64, 1.63, 1.48, 1.44, 1.32, 1.28, 1.05], 
                                      index=['United States', 'China', 'Japan', 'Germany', 'United Kingdom', 'India', 'France', 'Italy', 
                                             'Canada', 'South Korea', 'Russia', 'Brazil', 'Australia', 'Spain', 'Indonesia'])
print(dict_country_gdp_trillion)

United States     20.89
China             14.72
Japan              5.06
Germany            3.85
United Kingdom     2.67
India              2.66
France             2.63
Italy              1.89
Canada             1.64
South Korea        1.63
Russia             1.48
Brazil             1.44
Australia          1.32
Spain              1.28
Indonesia          1.05
dtype: float64

In [6]:
# Pass scalar as argument for series
scalar_series = pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])
scalar_series

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [7]:
## Accessing elements from Series
dict_country_gdp_trillion[0]   # first element

20.89

In [8]:
dict_country_gdp_trillion[0:5]   # data slicing --> first 5 elements

United States     20.89
China             14.72
Japan              5.06
Germany            3.85
United Kingdom     2.67
dtype: float64

In [9]:
dict_country_gdp_trillion.loc['United States']

20.89

In [10]:
dict_country_gdp_trillion.iloc[0]

20.89

In [11]:
## Vectorized operations
first_vector_series = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
second_vector_series = pd.Series([10,20,30,40], index=['a', 'b', 'c', 'd'])
first_vector_series+second_vector_series

a    11
b    22
c    33
d    44
dtype: int64

In [12]:
second_vector_series = pd.Series([10,20,30,40], index=['a', 'b', 'd', 'c'])
first_vector_series+second_vector_series

a    11
b    22
c    43
d    34
dtype: int64

In [13]:
second_vector_series = pd.Series([10,20,30,40], index=['a', 'b', 'e', 'f'])
first_vector_series+second_vector_series

a    11.0
b    22.0
c     NaN
d     NaN
e     NaN
f     NaN
dtype: float64